<section success="true">
  <div class="row chapter-customer-app mobile" ng-open="scrollToTop()">
    <div class="col-lg-12">
      <div class="row">
        <div class='slide'>
          <div class='slide-text'>
            <h1>Deliver Personalized, Agentic Customer Experiences</h1>
            <p>
              With Salesforce, you can build seamless, connected experiences for your customers across web and mobile with Heroku and Experience Cloud.
            </p>
          </div>
          <img src='/assets/images/chapters/chapter-customer-app/mobile-slide-0.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              To start, all the data from Salesforce will be synced to the customer app.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-customer-app/mobile-slide-1.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              Your customer, Mike, can now buy or customize his car with ease.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-customer-app/mobile-slide-2-2x-2025.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              If Mike adds customizations, such as “Self Driving Capability,” he can see the price quote change
              automatically.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-customer-app/mobile-slide-3-2025.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              Mike can see the update in real time and choose to purchase his customized vehicle.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-customer-app/mobile-slide-4-2x-2025.png' alt='' class='slide-bg-image'>
        </div>
        <div class="slides success" success="true">
          <div class="confetti-container" ng-open="renderConfetti()">
            <div class="confettii-still"></div>
            <div class="content-container">
              <div class="success-text">
                <h3>Chapter summary</h3>
                <h4 style="color: #BEC7F6;">Customer App</h4>
                <p>
                  You've created an engaging, personalized app experience for your customers. And you can empower your
                  employees to do the same, all with low-code tools.<br /><br />Ready to discover more about what the
                  Salesforce Platform can do for you?
                </p>
              </div>
              <div class="mobile-success-ctas">
                <a ui-sref="outro" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                <div class="text-link">
                  <a href="https://www.salesforce.com/products/heroku/overview" class="success-text-link"
                    target="_blank" rel="noopener noreferrer">Learn more about Heroku <span
                      class="carat"><i></i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>